{% extends 'base_blog.html' %}
{% load static %}

{% block meta %}
<title>GoodSpend</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
{% endblock meta %}

{% block content %}
<body>
    <div class="top-wrapper">
        <div class="container">
            <h1>Good spend, made easy.</h1>
            <p>GoodSpend adalah platform online untuk membantu pengelolaan uang.</p>
            <div class="btn-wrapper">
                <a href="#" class="btn signup">Daftar sekarang!</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}