{% extends 'base_blog.html' %}
{% include 'header_authorized.html' %}

{% load static %}

{% block content %}

<head>
	<title>Delete News</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/styles.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
	<h1 class="text-light">Delete News</h1>
	<div class="card bg-white">
		<div class="card-body bg-white">
			<p>Are you sure you want to delete "{{ news.title }}"?</p>
			<form method="POST">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger">Delete</button>
				<a href="{% url 'financial_news:news_list' %}" class="btn btn-secondary">Cancel</a>
			</form>
		</div>
	</div>
</div>
</body>


{% endblock content %}
