{% include 'header_authorized.html' %}

 {% load static %}

 {% block content %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/styles.css" />
        <title>GoodSpend | Loan Calculator</title>
    </head>
    <body>
      <div class="container">
          <form id="insert-loan-form" method="POST">
              <div class="form-group col-md-4 col-md-offset-4">
                  <label for="loanAmount">Loan Amount</label>
                  <input type="number" class="form-control" id="loanAmountInput" placeholder="ex : Rp100.000.000">
                  <small id="loanAmountHelp" class="form-text text-muted">Kurs dalam Rupiah. Isi dengan nominal saja, contohnya seperti "100000000".</small>
              </div>
              <div class="form-group col-md-4 col-md-offset-4">
                  <label for="annualInterest">Annual Interest</label>
                  <input type="number" class="form-control" id="annualInterestInput" placeholder="ex : 10%">
                  <small id="annualInterestHelp" class="form-text text-muted">Dalam persentase. Isi dengan nominal saja, contohnya seperti "10".</small>
              </div>
              <div class="form-group col-md-4 col-md-offset-4">
                  <label for="tenor">Tenor</label>
                  <input type="number" class="form-control" id="tenorInput" placeholder="ex : 5 Year">
                  <small id="tenorHelp" class="form-text text-muted">Dalam tahun. Isi dengan nominal saja, contohnya seperti "5".</small>
              </div>
                  <input type="submit" class="btn btn-primary col-md-4 col-md-offset-4" name="submit" value="Calculate" data-toggle="modal" data-target="#calculatedLoanModal"></button>
          </form>
      </div>

        <div class="modal fade" id="calculatedLoanModal" tabindex="-1" role="dialog" aria-labelledby="calculatedLoanModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <center><h2 class="modal-title" id="exampleModalLongTitle" font-weight="bold">Calculated Loan Details</h2></center>
                </div>
                <div class="modal-body">
                    <table id="calculated-loan-table" class="table table-dark table-hover">
                        <tr>
                            <th>Loan Amount</th>
                            <th>Annual Interest</th>
                            <th>Tenor</th>
                            <th>Monthly Payment</th>
                            <th>Total Payment</th>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></center>
                </div>
                </div>
            </div>
        </div>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
    <style>
      body {
        background-image: url("{% static 'img/finance_bg.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .container {
        margin-top: 100px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        border-color: black;
      }
    </style>
  
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#insert-loan-form').submit(function (event) {
      console.log("Loan Calculated")
      const loanFormData = {
        loan_amount: $('#loanAmountInput').val(),
        annual_interest: $('#annualInterestInput').val(),
        tenor: $('#tenorInput').val(),
      };

      $.ajax({
        type: 'POST',
        url: '/loancalculator/ajax-post/',
        data: loanFormData,
        dataType: 'json',
        encode: true,
      }).done(function (data) {
        $('#message').text(data.message);
        $('#calculated-loan-table').append(
          `<tr id="${data.data.id}">
            <th>${data.data.loan_amount}</th>
            <th>${data.data.annual_interest}</th>
            <th>${data.data.tenor}</th>
            <th>${data.data.monthly_payment}</th>
            <th>${data.data.accumulated_payment}</th>
          </tr>`
          )
        // window.location.replace("/loancalculator/form");
      });

      event.preventDefault();
    });
  });
</script>

  <!-- <script>
    $(document).ready(function () {
      $.get('/loancalculator/ajax', function (data) {
        console.log(data)
        data.map((singleData) => {
          console.log(singleData)
          $('#calculated-loan-table').append(
          `<tr id="${singleData.pk}">
            <th>${singleData.fields.loan_amount}</th>
            <th>${singleData.fields.annual_interest}</th>
            <th>${singleData.fields.tenor}</th>
            <th>${singleData.fields.monthly_payment}</th>
            <th>${singleData.fields.total_payment}</th>
          </tr>`
          )
        }
        )
      });
   });
  </script> -->

 {% endblock content %}